@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-press-start uppercase;
  box-sizing: border-box;
}

body {
  /* @apply bg-[#2BBCEE]; */
  @apply bg-slate-600;
  width: min(100% - 3rem, 80%);
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}
